.home-container {
    background-color: black;
    color: white;
    padding: 600px
  }
  
  .bike-images {
    /* Add styles for bike images and reviews container */
    /* Adjust width, height, positioning, etc. as per your design */
  }
  