.add-bike-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #656565;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  .add-bike-form .form-label {
    font-weight: bold;
  }
  
  .add-bike-form .form-control {
    margin-bottom: 10px;
  }
  
  .add-bike-form .btn-primary {
    background-color: #E7C200;
    color: #fff;
  }
  